  body {
    margin: 0;
    overflow: hidden;
    font-family: 'Lexend', sans-serif;
    background-image: url(./images/banners/home_page.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
}

#container {
    position: fixed;
    width: 65vw; 
    height: 65vh; 
    border-radius: 45px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#toast-image {
    position: fixed;
    width: 50%; 
    height: 50%; 
    object-fit: contain; 
    left: 0vw;
    top: 16vh;
    border: 0.8% solid #ffffff;
}

#toast-text {
    font-size: 2.5vw;
    position: fixed;
    left: 7vw;
    top: 36vh;
    color: rgb(20, 20, 20);
}

h1 {
    position: fixed;
    right: 15vw;
    top: 13vh;
    font-size: 1.3vw;
}

#description {
    position: fixed;
    top: 19vh;
    right: 5vw;
    font-size: 1.2vw;
    word-break: break-word;
    width: 50%;
}

.icon {
    font-size: 4vw;
    color: rgba(0, 0, 0, 0.8); 
    text-shadow: 3 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#user-icon {
    position: fixed;
    right: 38vw;
    bottom: 17vw;
    rotate: 10deg;
}

#cube-icon {
    position: fixed;
    right: 45vw;
    bottom: 21vw;
    rotate: -7deg;
}

#code-icon {
    position: fixed;
    right: 29vw;
    bottom: 18.5vw;
    rotate: -1deg;
}